Missing application type in http_msg

Hi,

Is it possible to add "application/scim+json" to the application types in http_msg.cpp? (I have a patch for this)  This application type is mandatory for web applications implementing the SCIM protocol. Alternative solutions could be making application types configurable or allowing any application types of the form "application/*+json".

Andy

The alternative solution you suggest is probably correct. [RFC 6838 Section 4.2.8](https://tools.ietf.org/html/rfc6838#section-4.2.8) formalized the "+suffix" convention and created the [IANA Media Type Structured Syntax Suffix Registry](https://www.iana.org/assignments/media-type-structured-suffix/media-type-structured-suffix.xhtml). The [IANA Media Types Registry](https://www.iana.org/assignments/media-types/media-types.xhtml) shows about 100 using `+json`.

Right now, you can use the workaround of checking the Content-Type header yourself (or not!) and using `extract_json(true)` so that the check in **http_msg.cpp** is bypassed.

I do this in a project that uses cpprestsdk:

https://github.com/sony/nmos-cpp/blob/f49183dc8c0296bd2101fbfdb4c09ae357e2c472/Development/nmos/api_utils.cpp#L51-L81

https://github.com/sony/nmos-cpp/blob/f49183dc8c0296bd2101fbfdb4c09ae357e2c472/Development/cpprest/http_utils.cpp#L42-L58
