web::uri::validate returns false on uri with "":"" in query

```web::uri::validate()``` wrongly assumes uri ```foo?bar=foo:bar``` is a absolute path because of the ":" in the query. [RFC-3986](https://datatracker.ietf.org/doc/html/rfc3986#appendix-A) allows queries to contain ":".

I think you're right, I believe your example is a valid `relative-ref`.

Per [RFC 3986 section 4.2](https://datatracker.ietf.org/doc/html/rfc3986#section-4.2):

```
relative-ref  = relative-part [ "?" query ] [ "#" fragment ]
```

Therefore, probably
https://github.com/microsoft/cpprestsdk/blob/bfe34877914fd280512c97d41aaa99e88564fd8d/Release/src/uri/uri.cpp#L180
needs to also stop at `?` or `#`...

An example like yours should be added to the test cases near `relative_ref_string`...
https://github.com/microsoft/cpprestsdk/blob/bfe34877914fd280512c97d41aaa99e88564fd8d/Release/tests/functional/uri/constructor_tests.cpp#L73

_**Edit:** I now have a test case and fix, so I'll make a PR later._